/* 
==============================================
CONTENT:	RX BAR
AUTHOR:		Danny McMillan
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Variables ================================= */
@import 'reset';

@font-face {
    font-family: 'greycliff_cfmedium';
    src: url('greycliffcf-medium-webfont.woff2') format('woff2'),
    url('greycliffcf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// colors
$bg-color: #edb1c4;
$blue-bg-color: #b9c4d2;
$dark-pink: #cb1b41;

// other variables
$header-height: 120px;
$font-greycliff: 'greycliff_cfmedium';

// breakpoints
$mobile-wide: 500px;
$tablet-bp: 768px;
$desktop-bp: 960px;

@mixin mobile-wide {
	@media (min-width: $mobile-wide) {
		@content;
	}
}

@mixin tablet  {
	@media (min-width: $tablet-bp) {
		@content;
	}
}

@mixin desktop  {
	@media (min-width: $desktop-bp) {
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $bg-color;
	font-family: $font-greycliff;

}






/* 2. Content ================================= */

header {
	background: #fff;
	width: 100%;
	height: $header-height;
	position: relative;


	.hamburger {
		position: relative;

		.menu-lines {
			max-width: 40px;
			position: absolute;
			top: 35px;
			left: 46px;
			z-index: 1;
			cursor: pointer;

		}

		.pink-menu-bg {
			max-width: 100px;
			position: absolute;
			top: 0;
			left: 12px;
			margin: 5px;
		}
	}

	

	.shop-icon {
		position: absolute;
		top: 45.75px;
		left: 90%;
		border: 1px solid red;
	}


	.header-logo {
		max-width: 20%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include desktop() {
			width: 15%;
		}
	}
}

.content {
	background: url('../img/BACKGROUND PATTERN.png');
	background-size: 100vw;
	position: relative;


	.hero-text-container {
		@include tablet {
			position: absolute; 
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		
		.hero-text {
			font-size: 60px;
			text-align: center;
			padding: 20px;
			margin-top: 5px;
			font-weight: 1000;
			transition: .3s;

			@include tablet() {
				font-size: 100px;
			}
		}
	
	}

	.bottom-hero-text {
		margin-bottom: 15px;
	}

	.images-hero img {
		width: 30%;
		margin: 20px 20px;
		position: relative;
		padding: 5px;

		@include tablet {
			width: 12%;
		}
		
	}

	.images-hero {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-left: 70px;
		height: 90vh;
		height: calc(100vh - #{$header-height});
		min-height: 450px;

		@include tablet {
			margin: 0px;
		}

		
		.pb-bar-img {
			position: absolute;
			left: 40%;
			top: 20%;;

			@include tablet {
				width: 15%;
				left: 76%;
				top: 10%;
			}
		}


		.eggs-home {

			@include tablet() {
				position: absolute;
				left: 20%;
				top: 10%;
				width: 13%;
			}
		}

		.eggs-text {
			position: absolute;
			top: -2%;
			left: 7%;
			max-width: 12%;

			@include tablet {
				top: 7%;
				left: 23%;
				width: 6%;
			}
		}

		.dates-home {

			@include tablet() {
				position: absolute;
				left: 13%;
				top: 63%;
				width: 13%;
			}
		}

		.dates-text {
			position: absolute;
			top: 39%;
			left: 4%;
			max-width: 12%;
			transform: rotate(-20deg);
			
			@include tablet {
				top: 77%;
				left: 22%;
				width: 6%;
				transform: rotate(0deg);
			}
		}

		.peanut-home {

			@include tablet() {
				position: absolute;
				left: 2%;
				top: 33%;
				width: 13%;
				transform: rotate(-80deg);
			}


		} 

		.peanuts-text {
			position: absolute;
			top: 62%;
			left: 20px;
			max-width: 14%;
			transform: rotate(-40deg);

			@include tablet() {
				top: 31%;
				left: 4%;
				width: 8%;
				transform: rotate(10deg);

			}
		}
	}



	
	.shop-now-btn-home {
		text-decoration: none;
		padding: 15px;
		background: white;
		border: 1.5px solid black;
		font-size: 20px;
		text-align: center;
		color: black;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		margin-top: 40px;
		margin-bottom: 20px;
		max-width: 20%;

		@include tablet {
			position: absolute;
			left: 75%;
			top: 67%;
		}
	}

	.shop-now-btn-home:hover {
		background: #edb1c4;
	}
}


.blueberry-page {
	display: none;
}

.squares-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
	display: none;
	position: relative;
	transition: .3s;

	.square {
		width: 20%;
		height: 115px;
		background: #fff;	

		@include tablet() {
			height: 165px;
		}
	} 

	.square1 {
		background: #7c3b19;
	}
	.square2 {
		background: #232726;
	}
	.square3 {
		background: #1c3e63;
	}
	.square4 {
		background: #ebe4da;
	}
	.square5 {
		background: #f1943d;
	}
	.square6 {
		background: #f4f5ef;
	}
	.square7 {
		background: #e84294;
	}
	.square8 {
		background: #5f3120;
	}
	.square9 {
		background: #a75e26;
	}
	.square10 {
		background: #8f3b39;
	}
	.square11 {
		background: #c23055;
	}
	.square12 {
		background: #b88b6a;
	}
	.square13 {
		background: #f5a741;
	}
	.square14 {
		background: #a2d9b2;
	}
	.square15 {
		background: #953f29;
	}

	.square-text {
		position: absolute;
		font-size: 40px;
		margin: 40px;
		display: none;
		pointer-events: none;

		@include tablet() {
			font-size: 120px;
		}
	}
}

.closed-nav {
	width: 0%;
	height: 0%;
	background: $dark-pink;
	position: fixed;
	top: 0%;
	z-index: 2;
	display: none;

	.close-btn {

		margin-top: 40px;
		margin-left: 30px;
		cursor: pointer;
		.close-btn-1 {
			width: 45px;
			height: 3px;
			border-radius: 10px;
			background-color: white;
			margin: 0px 0;
			transition: 0.4s; 
			z-index: 2;
			// margin: 10px;
			transform: rotate(45deg);
		}

		.close-btn-2 {
			width: 45px;
			height: 3px;
			border-radius: 10px;
			background-color: white;
			margin: 0px 0px;
			transition: 0.4s ease-in-out;
			z-index: 2;
			transform: rotate(-45deg);


		}
	}

	.nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		width: 60%;
		margin: auto;
		
		a {
			text-decoration: none;
			color: rgb(189, 125, 136);	
		}

		h1 {
			font-size: 40px;
			margin: 10px 30px;
		}
	}

	.header-logo-nav-open {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		margin-top: -20px;
		margin-bottom: 70px;
	}

	.social-media {
		display: flex;
		justify-content: center;
		margin-top: 50px;

		img {
			padding: 10px;
		}
	}
}

