/* 
==============================================
CONTENT:	RX BAR
AUTHOR:		Danny McMillan
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Variables ================================= */
@import 'reset';

$bg-color: #edb1c4;
$tablet-bp: 768px;
$desktop-bp: 1280px;


@mixin tablet  {
	@media (min-width: $tablet-bp) {
		@content;
	}
}

@mixin desktop  {
	@media (min-width: $desktop-bp) {
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $bg-color;
}




/* 2. Content ================================= */

header {
	background: #fff;
	width: 100%;
	min-height: 20vh;
	max-height: 15vh;
	position: relative;


	.hamburger {
		position: absolute;
		top: 35.75px;
		left: 20px;
		background: purple;
		border-radius: 10px;
	}

	

	.shop-icon {
		position: absolute;
		top: 45.75px;
		left: 90%;
		
		border: 1px solid red;
	}


	.header-logo {
		min-width: 12%;
		max-width: 16%;
		position: absolute;
		top: 45.75%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
}

.content {
	background: url('../img/BACKGROUND PATTERN.png');
	background-size: cover;
	position: relative;


	.hero-text {
		font-size: 2em;
		text-align: center;
		padding: 50px;
		font-weight: 1000;
	}


	.images-hero .showing-class{
		display: none;
		margin-left: auto;
		margin-right: auto;
		width: 50%;

		@include tablet {
			display: block;
			width: 20%;
			position: absolute
		}
	}

	
	.shop-now-btn-home {
		text-decoration: none;
		padding: 15px;
		background: white;
		border: 1.5px solid black;
		font-size: 20px;
		text-align: center;
		color: black;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 35%;
		margin-top: 40px;
	}

	.shop-now-btn-home:hover {
		background: #edb1c4;
	}
}