/* 
==============================================
CONTENT:	RX BAR
AUTHOR:		Danny McMillan
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Variables ================================= */
@import 'reset';

$bg-color: #edb1c4;
$blue-bg-color: #b9c4d2;

$mobile-wide: 500px;
$tablet-bp: 768px;
$desktop-bp: 1280px;

@mixin mobile-wide {
	@media (min-width: $mobile-wide) {
		@content;
	}
}

@mixin tablet  {
	@media (min-width: $tablet-bp) {
		@content;
	}
}

@mixin desktop  {
	@media (min-width: $desktop-bp) {
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $bg-color;

}




/* 2. Content ================================= */

header {
	background: #fff;
	width: 100%;
	min-height: 120px;
	position: relative;


	.hamburger {
		position: relative;

		.menu-lines {
			max-width: 40px;
			position: absolute;
			top: 35px;
			left: 46px;
			z-index: 1;

		}

		.pink-menu-bg {
			max-width: 100px;
			position: absolute;
			top: 0;
			left: 12px;
			margin: 5px;
		}
	}

	

	.shop-icon {
		position: absolute;
		top: 45.75px;
		left: 90%;
		border: 1px solid red;
	}


	.header-logo {
		max-width: 20%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
}

.content {
	background: url('../img/BACKGROUND PATTERN.png');
	background-size: 100vw;
	min-height: 100vh;
	position: relative;


	.hero-text-container {
		@include tablet {
			position: absolute; 
			left: 50%;
			top: 40%;
			transform: translate(-50%, -50%);
		}
		
		.hero-text {
			font-size: 60px;
			text-align: center;
			padding: 20px;
			margin-top: 5px;
			font-weight: 1000;
			transition: .3s;

			@include tablet() {
				font-size: 100px;
			}
		}
	
	}

	.bottom-hero-text {
		margin-bottom: 15px;
	}

	.images-hero img {
		width: 30%;
		margin: 20px 20px;
		position: relative;
		padding: 5px;

		@include tablet {
			width: 12%;
		}

		
	}

	.images-hero {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-left: 70px;


		@include tablet {
			border: 1px solid blue;
			margin-left: 10px;
		}



		


		.pb-bar-img {
			position: absolute;
			left: 40%;
			top: 20%;

			@include tablet {
				width: 16%;
				left: 75%;
				top: 10%;
			}
		}

		.eggs-text {
			position: absolute;
			top: -3.4%;
			left: 22px;
			max-width: 12%;

			@include tablet {
				top: -3.5%;
				left: 36px;
				width: 10%;
			}
		}

		.dates-text {
			position: absolute;
			top: 34%;
			left: 4px;
			max-width: 12%;
			transform: rotate(-20deg);
		}

		.peanuts-text {
			position: absolute;
			top: 62%;
			left: 20px;
			max-width: 14%;
			transform: rotate(-40deg);
		}
	}


	.eggs-home {
		@include tablet() {
			margin-left: 100px; 
		}
	}

	
	.shop-now-btn-home {
		text-decoration: none;
		padding: 15px;
		background: white;
		border: 1.5px solid black;
		font-size: 20px;
		text-align: center;
		color: black;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		margin-top: 40px;
		margin-bottom: 20px;

		@include tablet {
			position: absolute;
			left: 75%;
			top: 54%;
		}
	}

	.shop-now-btn-home:hover {
		background: #edb1c4;
	}
}


.blueberry-page {
	display: none;
}

.squares-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
	display: none;


	.square1, .square2, .square3, .square4, .square5,
	.square6, .square7, .square8, .square9, .square10,
	.square11, .square12, .square13, .square14, .square15 {
		width: 19%;
		height: 115px;
		margin: 2px 1px 2px 1px;
		background: #fff;	

		@include tablet() {
			height: 165px;
		}
	} 
}

.closed-nav {
	width: 100%;
	min-height: 100vh;
	background: pink;
	position: absolute;
	top: 0%;
	z-index: 2;

	.header-logo-nav-open {
		width: 20%;
	}
}
.open-nav {
	display: block;
}
